.footer-container {
  background-image: url("../../assets/Images/footerbg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: grey;
  position: relative;   
  margin-top: 4em;
  /* height: 420px; */
  background-color: black;
}
.footermain
{
  background: rgb(12, 12, 12);

}


.footerinner ul {
  list-style: none;
}


.footer-reserve {
  background-color: white;
  color: black;
}

.footer-reserve-text {
  font-weight: bold;
  margin: 0;

}

.footer-reserve-circle {
  top: -1em;
  right: -1em;
  width: 3em;
}

.footer-span {
  left: 0;
}
